body {
  margin: 0;
  font-family: 'Franklin Gothic Demi', serif;
  background: url('https://cdna.artstation.com/p/assets/images/images/016/322/076/large/jordan-snee-3dga-08.jpg?1551733292') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-size: 17px;

}

.navbar {
  background: #2b1d0e;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a,
.nav-link-button {
  color: #f0e4c3;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.content {
  padding: 20px;
  background: rgba(40, 23, 4, 0.76);
  max-width: 800px;
  margin: 20px auto;
}

h1, strong {
  color: #f4d47c;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: rgba(108, 107, 97, 0.4);
}

.page-image {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 300px;
}

.page-image img {
  width: 100%;
}

form {
  background: rgba(30, 20, 10, 0.7);
  padding: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #d4b483;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
